








<div id="banner" onclick="javascript:window.open(window.clickTag);">
    <div class="outline"></div>
    
    


    


    <div class="frame frame1">
        <!-- <img class=" " src="../_common/images/<%= size %>/f1.png" />  -->
        <img class="retina bars" src="../_common/images/<%= size %>/bars.png" />   
        <img class="retina txt_mti" src="../_common/images/<%= size %>/txt_mti.png" />   
        <img class="retina logo_small" src="../_common/images/<%= size %>/logo_small.png" />   

        <img class="retina t1 t1a" src="../_common/images/<%= size %>/t1a.png" />   
        <img class="retina t1 t1b" src="../_common/images/<%= size %>/t1b.png" />   
        

        <img class="retina t2 t2a" src="../_common/images/<%= size %>/t2a.png" />   
        <img class="retina t2 t2b" src="../_common/images/<%= size %>/t2b.png" />   
        <img class="retina t2 t2c" src="../_common/images/<%= size %>/t2c.png" />   
        <img class="retina t2 t2d" src="../_common/images/<%= size %>/t2d.png" />   
        <!-- <img class="retina tracer" src="../_common/images/<%= size %>/trace.jpg" />   -->
        <div class="hero">
            
            <img class="retina image" src="../_common/images/<%= size %>/hero.jpg" />  
        </div>

        

        
        
    </div>


    
    
    <div class="frame frame2">
        <img class="retina logo" src="../_common/images/<%= size %>/logo.png" />   

        <img class="retina t3 t3=a" src="../_common/images/<%= size %>/t3a.png" />   
        <img class="retina t3 t3b" src="../_common/images/<%= size %>/t3b.png" />   
        <img class="retina t3 t3c" src="../_common/images/<%= size %>/t3c.png" />   
        <img class="retina t3 t3d" src="../_common/images/<%= size %>/t3d.png" />   
        
        <img class="retina playsmart" src="../_common/images/<%= size %>/playsmart.png" />  
        <img class="retina legalBtn" src="../_common/images/<%= size %>/legal_btn.png" />  
        

        <img class="retina cta" src="../_common/images/<%= size %>/cta.png" />  

    </div>

    

    
    <% include ./legal %>    
    <% include ./olg_logo %> 
    
    
</div>

